body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #c7ca22;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.pokemonDashboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1rem 30rem 1rem 30rem;
	gap: 1rem;
	align-items: center;
	justify-items: center;
}

/* FILTER */
.pokemonDashboard__filter {
	grid-column: 1 / -1;
	width: 100%;
	text-align: center;
}

#pokemonFilter {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	text-align: center;
	background-color: #ffffffd5;
}
.pokemonDashboard__item {
	background-color: #ffffff;
	width: 100%;
}

/* ITEM PORTRAIT */
.pokemonCard__portrait {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	object-fit: contain;
}

.pokemonCard__portrait img {
 	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pokemonCard__portrait p {
	position: absolute;
	text-align: center;
	margin: 0;
	bottom: 0;
	background-color: #929292;
}

/* ITEM INFO */
.pokemonCard__info {
	padding-left: 1rem;
}

.pokemonCard__info-name {
	font-weight: bold;
	margin: 0;
}

.pokemonCard__info div {
	display: flex;
	margin: 0;
	gap: 0.5rem;
}

.pokemonCard__info-type {
	margin: 0;
	padding: 0.1rem;
	font-size: 0.8rem;
	border: #929292 1px solid;
	border-radius: 0.5rem;
}

.pokemonCard__info blockquote {
	border-left: 4px solid #888;
	padding-left: 1rem;
  	margin: 1.5rem 1rem;
}

.pokemonCard__info blockquote p {
	font-weight: none;
	margin: 0;
}

.evolution__title {
	font-size: small;
}