/* PRINCIPAL TAGS */
html, body {
	margin: 0;
	height: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	border-style: dotted; /*debug display*/
}

.hero { 
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: center; 
  	align-items: center;      
}

/* CONTENTS */
.hero section {
	display: flex;
	flex-direction: column;
	position: absolute;
  	text-align: center;
	width: 50%;
	height: 75%;
	border-style: dotted; /*debug display*/	
}

.center-content {
	display: block;
	border-style: dotted; /*debug display*/	
	text-align: center;
	padding: 3% 20% 3% 15%;
}

/* LINKS */
.links a {
	margin-right: 10px;
	text-decoration: none;
	color: #333;
}

/* IMAGES */
.logo img {
	width: 100px;
	height: 75px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	z-index: 0;
}


/* BUTTONS */
.singUp {
	background-color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	width: 100px;
	cursor: pointer;
}

.freeTrialButton {
	background-color: #130101;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
	width: 10em;
	cursor: pointer;
}

